.accordion{
    .accordion-item{
        width:80rem;
        margin: 1rem auto;
        border: #dee2e6 1px solid;
        .accordion-header{
            .accordion-button{
                .energy{
                    margin-left: auto;
                }
                &::after{
                    margin-left: 1rem;
                }
            }

        }
    }
}