@use"../../style/color" as c; 
.layout {
    display: flex;
    height: 100%;
    width: 100%;

    .searchContent {
        flex: 4.5;
        height: 100%;
        border-right: 0.1rem solid c.$color-light;

        .searchForm {

            display: flex;
            border: 0.1rem solid c.$color-light;
            width: 18rem;
            border-radius: 0.7rem;
            margin-left: 8rem;
            margin-top: 1rem;

            .submitButton {
                width: 1rem;
                border: none;
                outline: none;
                background-color: #fff;
            }

            .searchInput {


                margin: 0 1rem;
                width: 14rem;
                transition: .3s linear;
                border: none;
                outline: none;

            }


        }
    }

    .cartContent {
        flex: 1;
        width: 100%;

        .buttonBar {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            .button {
                width: 6rem;
            }
            .btn-outline-primary{
                color: c.$color-main;
                border-color:c.$color-main;
                &:hover{
                    background-color: c.$color-main;
                    color: #fff;
                }
            }
        }

        .element {
            border: 0.1rem solid c.$color-light;
            display: flex;
            margin: 1rem;
            line-height: 2rem;
            border-radius: 0.5rem;
            padding: 0.4rem 0.5rem;
            .minus {

                margin-right: 1rem;
                margin-left: 1rem;
                margin-top: auto;
                margin-bottom: auto;
                cursor: pointer;
                border: solid 1px c.$color-main;
                border-radius: 50%;
                width : 1rem;
                height: 1rem;
                padding: 0.3rem;
                margin-right: 1rem;
                &:hover{
                    background-color: c.$color-main;
                    color: #fff ;
                }
            }
        }
    }
}